body{

background:#f4f7fc;

font-family:Segoe UI,Tahoma,sans-serif;

}

.navbar{

background:#0f172a !important;

}

.navbar-brand{

font-size:24px;

}

.card{

border:none;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.card-header{

font-weight:bold;

}

.stat-card{

color:white;

}

.blue{

background:#2563eb;

}

.red{

background:#dc2626;

}

.green{

background:#16a34a;

}

.orange{

background:#ea580c;

}

.stat-card i{

font-size:35px;

margin-bottom:10px;

}

.table{

background:white;

}

.btn{

border-radius:8px;

}

h2{

font-weight:700;

}